<div class="menu">
  <h1 class="display-3"></h1>
  <h2>メニュー</h2>
  <br/>
  <div class="row">
  <ul>
    <li>
        <a class="btn btn-primary btn-lg active" role="button" ng-link="initial">　　設定　　
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
    </li>
    <br>
    <li>
      <a class="btn btn-primary btn-lg active" role="button" ng-link="camera">　　撮る　　
      <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
      </a>
    </li>
    <br>
    <li>
      <a class="btn btn-primary btn-lg active" role="button" ng-link="watchmenu">　　見る　　
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
      </a>
    </li>
  </ul>
  </div>
<div>
