<div class="menu">
  <h1 class="display-3"></h1>
  <h2>閲覧形式</h2>
  <br/>
  <div class="row">
  <ul>
    <li><button type="button" class="btn btn-default navbar-btn btn-lg btn-primar">
        <a ng-link="calendar">　　カレンダー　　<a><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </button>
    </li>
    <br>
    <li><button type="button" class="btn btn-default navbar-btn btn-lg btn-primar">
        <a ng-link="album">　　イベントタブ　　<a><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
        </button>
    </li>
    <br>
    <li><button type="slideshow" class="btn btn-default navbar-btn btn-lg btn-primar">
        <a ng-link="slideshow">　　スライド　　<a><span class="glyphicon glyphicon-film" aria-hidden="true"></span>
        </button>
    </li>
  </ul>
  </div>
<div>
