<div class="menu">
  <h1 class="display-3"></h1>
  <h2>閲覧形式</h2>
  <br/>
  <div class="row">
  <ul>
    <li>
      <a class="btn btn-primary btn-lg active" role="button" ng-link="calendar">　 カレンダー　
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      </a>
    </li>
    <br>
    <li>
      <a class="btn btn-primary btn-lg active" role="button" ng-link="album"> 　イベントタブ 
      <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
      </a>
    </li>
    <br>
    <li>
      <a class="btn btn-primary btn-lg active" role="button" ng-link="slideshow">　　スライド　　
      <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
      </a>
    </li>
  </ul>
  </div>
<div>
